@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ===== HEADER ===== */
header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 100;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7)),url(/img/background_projeto.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

header .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo{
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
}

.navbar .logo span{
  color: #2dc228;
}

.navbar .menulink{
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar a{
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover{
  color: #2dc228;
}
#menu-btn{
  color: #fff;
  cursor: pointer;
  display: none;
}

#close-menu-btn{
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 3rem;
}

.text-box p{
  margin: 10px 0 40px;
  font-weight: 600;
  color: #fff;
}

.hero-btn{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 34px;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #2dc228;
  background: #2dc228;
  transition: 1s ease;
}

.section-one{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.section-one h1{
  font-size: 36px;
  font-weight: 600;
}

.section-one p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section-row{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
} 

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.section-row:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.section-two{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.section-doe{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.section-doe img{
  width: 100%;
  display: block;
}

.project {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  cursor: pointer;
}

.project:hover {
  background: rgba(45, 194, 40, 0.7);
}

.project h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  position: absolute;
  bottom: 20px; /* começa mais embaixo */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.project:hover h3 {
  bottom: 50%; 
  opacity: 1;
}

.section-three{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.section-three p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.section-facilities{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: justify;
  cursor: pointer;
}

.section-facilities p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.section-facilities img{
  width: 100%;
  border-radius: 10px;
}

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-row{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonials-row img{
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
    header{
    padding: 10px 20px;
  }

  header.mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  #close-menu-btn, #menu-btn{
    display: block;
  }

  .navbar .menulink{
    position: fixed;
    left: -260px;
    top: 0;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background: #fff;
    padding: 70px 40px 0;
    transition: left 0.15s ease;
  }

  header.mobile-menu .navbar .menulink{
    left: 0;
  }

  .navbar a{
    color: #000;
  }

  .text-box h1{
    font-size: 20px;
  }

  .row{
    flex-direction: column;
  }

}